Repository yeferson59/my-app-projects: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest-fast

.pre-commit-config.yaml:

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.13
        args: [--line-length=88]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8

  # Generic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-case-conflict
      - id: debug-statements

  # Local hooks using uv
  - repo: local
    hooks:
      - id: mypy
        name: mypy type checking
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, tests/]

      - id: django-check
        name: django system check
        entry: uv run python manage.py check
        language: system
        files: ^(app/|manage\.py)
        pass_filenames: false

      - id: django-migrations-check
        name: django migrations check
        entry: uv run python manage.py makemigrations --check --dry-run
        language: system
        files: ^(app/.*models\.py|app/migrations/)
        pass_filenames: false

      - id: pytest-fast
        name: run fast tests
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        args: [--tb=short, -x, -q]

feat: Add GitHub Actions workflow to build Docker image
  .github/workflows/docker-image.yaml
Due: none

Fix: Docker build command syntax in workflow
  .github/workflows/docker-image.yaml
Due: none

feat: add Docker image push to GitHub Container Registry workflow
  .github/workflows/docker-image.yaml
Due: none

fix: Update workflow step name for GitHub Container Registry login
  .github/workflows/docker-image.yaml
Due: none

Ufix: pdate Docker build to tag image for GHCR as latest
  .github/workflows/docker-image.yaml
Due: none

Fix: Docker login by using password instead of token
  .github/workflows/docker-image.yaml
Due: none

feat: Enable PostgreSQL database configuration for production
  app/settings_prod.py
Due: mypy, django-check, pytest-fast

chore: move projects app into applications directory
  applications/projects/__init__.py
  applications/projects/admin.py
  applications/projects/api.py
  applications/projects/apps.py
  applications/projects/migrations/0001_initial.py
  applications/projects/migrations/__init__.py
  applications/projects/models.py
  applications/projects/serializers.py
  applications/projects/tests.py
  applications/projects/urls.py
  applications/projects/views.py
Due: mypy, pytest-fast

feat: Improve Dockerfile for production security and efficiency
  Dockerfile
Due: none

chore: update projects app path in INSTALLED_APPS
  app/settings.py
Due: mypy, django-check, pytest-fast

chore: update project URL include path to new location
  app/urls.py
Due: mypy, django-check, pytest-fast

fix: Update Docker image size references to ~229MB in docs
  DOCKER.md
  README.md
Due: none

fix: Copy only required files in final Docker image
  Dockerfile
Due: none
